.arrow-right {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: auto;
  top: -2px;
  bottom: 0;
  right: 20px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}
